/* Base Styles
   ========================================================================== */

body {
    font-family: $font-1;
    overflow-x: hidden;
    font-weight: $normal;
    color: $secondary-color;
    height: 100%;
}

h1 {
    font-size: 3.5em;
}

section {
  margin-bottom: 10px;
}

.box-left {
  padding-right: 5px;
}

.box-right {
  padding-left:5px;
}

.jagged {
    background-color:#F9E8B2;
    background-image:
        /* Top jagged */
        linear-gradient(135deg, rgba(255,255,255,1) 0%, rgba(255,255,255,1) 50%, rgba(255,255,255,0) 50%, rgba(255,255,255,0) 100%),
        linear-gradient(-135deg, rgba(255,255,255,1) 0%, rgba(255,255,255,1) 50%, rgba(255,255,255,0) 50%, rgba(255,255,255,0) 100%),
        /* Bottom jagged */
        linear-gradient(45deg, rgba(255,255,255,1) 0%, rgba(255,255,255,1) 50%, rgba(255,255,255,0) 50%, rgba(255,255,255,0) 100%),
        linear-gradient(-45deg, rgba(255,255,255,1) 0%, rgba(255,255,255,1) 50%, rgba(255,255,255,0) 50%, rgba(255,255,255,0) 100%);
    background-position:
        /* Top jagged */
        top center, top center,
        /* Bottom jagged */
        bottom center, bottom center,
        /* Top fade */
        top center,
        /* Bottom fade */
        bottom center;
    background-size:
        40px 60px;
    background-repeat: repeat-x;
    padding: 60px 0;
    position: relative;
  }


@media only screen and (min-device-width : 320px) and (max-device-width : 480px) {
        /* Styles */
      .box-left {
        padding: 0 15px;
        margin-bottom: 10px;
      }

      .box-right {
        padding: 0 15px;
        margin-bottom: 10px;
      }
}
