/* Base Styles
   ========================================================================== */

body {
    font-family: $font-1;
    overflow-x: hidden;
    font-weight: $normal;
    color: $secondary-color;
    height: 100%;
}

h1 {
    font-size: 4em;
}

.box-left {
  padding-right: 5px;
}

.box-right {
  padding-left:5px;
}

.footer {
  padding: 20px 0;
  color: $third-color;
  text-align: center;
  background-color: #222222;
  border-top: 1px solid #222222;
  font-size: 1.2em;
  margin-top: 50px;
}
.footer p:last-child {
  margin-bottom: 0;
}


