/* Base Styles
   ========================================================================== */

body {
    font-family: $font-1;
    overflow-x: hidden;
    font-weight: $normal;
    color: $secondary-color;
    background-color: #333;
    height: 100%;
}

h1 {
    font-size: 4em;
}

.welcome {
    text-align:center;
    margin: 100px 0 50px 0;
}

.divider {
  border-top: 2px dashed $third-color;
}

.footer {
  padding: 20px 0;
  color: $third-color;
  text-align: center;
  background-color: #222222;
  border-top: 1px solid #222222;
  font-size: 1.2em;
  margin-top: 50px;
}
.footer p:last-child {
  margin-bottom: 0;
}
