footer {
    background-image: url('../images/footer-bg.jpg');
    background-repeat: no-repeat;
    background-attachment: scroll;
    background-position: center center;
    background-size: cover;
    text-align: center;
    height: 750px;

    .contact-cta {
            background-image: url(../images/contact-cta.png);
            background-repeat: no-repeat;
            background-attachment: scroll;
            background-size: contain;
            height: 220px;
            width: 400px;
            position: absolute;
            left: 14%;
    }

    .contact-box {
        background-color: rgba(255, 255, 255, 0.85);
        border: 3px solid $primary-color;
        border-radius: 10px;
        color: #5b80df;
        width: 50%;
        margin: 0 auto;
        font-family: $font-2;
        padding: 5px 12px;
        margin-top: 12%;
    }

     /* Smartphones (portrait and landscape) ----------- */
     @media only screen and (min-device-width : 320px) and (max-device-width : 480px) {
      /* Styles */
      .contact-box {
            border-radius: initial;
            width: initial;
            padding: 5px 12px;
            margin-top: initial;
        }

    }

    .contact-section {
        margin-bottom: 15px;
    }

    .contact-title {
        font-size: 3em;
    }

    .contact-form {
        font-size: 2em;
        text-align:left;
    }

    .contact-input {
        float: right;
        border: 3px solid rgba(91, 128, 223, 0.5);
        background: transparent;
        border-radius: 10px;
        outline: none;
        padding: 5px;

        &:focus {
            border: 3px solid rgba(91, 128, 223, 1);
        }
    }

     /* Smartphones (portrait and landscape) ----------- */
     @media only screen and (min-device-width : 320px) and (max-device-width : 480px) {
      /* Styles */
      .contact-input {
        width:70%;
    }

    }

    .contact-button-container {
        text-align: center;
        margin: 15px 0;
        .contact-button {
            background: transparent;
            font-family: $font-2;
            border: 3px solid rgba(91, 128, 223, 0.5);
            border-radius: 10px;
            padding: 5px 10px;
            width:100px;
            outline: none;

            &:focus,&:hover {
                color: white;
                background: rgba(91, 128, 223, 1);
            }
        }
    }

    .footer {
        font-family: $font-1-bi;
        color: white;
        font-size: 2em;
        margin-top: 100px;
    }

}
