/* iPads (portrait and landscape) ----------- */
@media only screen and (min-device-width : 768px) and (max-device-width : 1024px) {
/* Styles */
    .cta-1 {
        right: 0.5% !important;
        top: 10% !important;
    }

    .cta-2 {
        left: 1%;
        top: 45% !important;
    }

    .intro-stats {
        margin-top: 0 !important;
    }
}


header {
    background-image: url('../images/header-bg.jpg');
    background-repeat: no-repeat;
    background-attachment: scroll;
    background-position: center center;
    background-size: cover;
    text-align: center;
    color: white;
    position: relative;
    .intro-stats {
        position: absolute;
        margin-top: 20px;
        width: 200px;
        height: 300px;
        left: 80px;
        background-color: white;
        border: 5px solid black;
        text-align:center;
        color: black;

        p.stats-date {
            margin-top: 95px;
            font-size: 2.5em;
        }
        p.stats-price {
            color: black;
            font-size: 2em;
            font-family: $font-1-bi;
        }
        p.more-stats {
            font-size: 2em;
        }
    }

    .intro-cta {
        position: absolute;
        background-image: url('../images/speech_bubble_1.png');
        height:200px;
        width: 400px;
        background-repeat: no-repeat;
        background-attachment: scroll;
        background-position: center center;
        background-size: cover;
        /*img {
            height: 200px;
            width: 400px;
        }*/
    }

    .cta-1 {
        right: 2%;
        top: 15%;

        p {
            position: absolute;
            width: 200px;
            font-weight: 800;
            font-size: 1.2em;
            color: black;
            right: 25%;
            top:29%;
        }
    }

    .cta-2 {
        left: 1%;
        top: 60%;

        p {
            position: absolute;
            width: 200px;
            font-weight: 800;
            font-size: 1.2em;
            color: black;
            right: 25%;
            top:29%;
        }
    }

    .intro-ribbon {
        position: absolute;
        right: 0;
        top: 85%;
        img {
            height: 200px;
        }
    }

    .intro-text {
        padding-top: 200px;
        padding-bottom: 50px;
        .intro-lead-in {
            margin-bottom: 25px;
            img {
                height: 80px;
                -webkit-filter: drop-shadow(5px 5px 5px #222);
                filter: drop-shadow(5px 5px 5px #222);
            }
        }
        .intro-heading {
            font-weight: 700;
            font-size: 2em;
            line-height: 50px;
            margin-bottom: 25px;
        }
    }
}

@media(min-width:1224px) {
    header {
        .intro-text {
            padding-top: 200px;
            padding-bottom: 200px;
            .intro-lead-in {
                line-height: 40px;
                margin-bottom: 25px;
            }
            .intro-heading {
                font-family: $font-1-ital;
                font-weight: 500;
                font-size: 3em;
                line-height: 75px;
                margin-bottom: 100px;
            }
            .intro-read {
                font-family: $font-2;
                font-size: 3em;
                color: $fifth-color;
            }
        }
    }
}

/* Smartphones (portrait and landscape) ----------- */
@media only screen and (min-device-width : 320px) and (max-device-width : 480px) {
/* Styles */
    .intro-heading {
        font-family: $font-1-ital;
        font-weight: 500;
        font-size: 2em;
        line-height: 75px;
        margin-bottom: 70px;
    }

    .intro-read {
        font-family: $font-2;
        font-size: 2em;
        color: $fifth-color;
    }
}
