#services {
    background-color: #000;
}

.service {
    /*border: 2px solid black;*/
    background: black;

    .service-name {
        text-align: center;
        font-family: $font-2;
    }

    .service-details {
        color: white;
        min-height: 200px;
        ul {
          margin: 0;
        }
        ul.dashed {
          list-style-type: none;
        }
        ul.dashed > li {
          text-indent: -5px;
        }
        ul.dashed > li:before {
          content: "-  ";
          text-indent: -5px;
        }
    }

    .service-image {
        margin-top: 20px;
        background-repeat: no-repeat;
        background-attachment: scroll;
        background-size: contain;
        height: 400px;
    }

    /* Smartphones (portrait and landscape) ----------- */
        @media only screen and (min-device-width : 320px) and (max-device-width : 480px) {
        /* Styles */
            .service-image {
                height: 275px;
            }
        }

    .service-1 {
        background-image: url('../images/web-logo.png');
    }

    .service-2 {
        background-image: url('../images/wordpress-logo.png');
        background-position: right;
    }
}
