#team {
    margin-top: 10px;
    /*background-color: #E0E0E0;*/
}

  /* Top and bottom fade  */
        /*linear-gradient(to bottom, rgba(0,0,0,0.5) 0%, rgba(0,0,0,0) 100%),
        linear-gradient(to top, rgba(0,0,0,0.5) 0%, rgba(0,0,0,0) 100%)*/

.team-member {
    border: 2px solid black;
    .team-banner {
        background-repeat: no-repeat;
        background-attachment: scroll;
        background-position: center center;
        background-size: cover;
        text-align: center;
        color: black;
        height: 140px;
        .team-name {
            font-family: $font-2;
            font-size: 2.5em;
            font-size: 2.5vw;
        }
        .team-tagline {
            margin-top: -15px;
            font-size: 1.3em;
            font-size: 1.3vw;
            letter-spacing: 1px;
            word-spacing: 2px;
        }



        /* Smartphones (portrait and landscape) ----------- */
        @media only screen and (min-device-width : 320px) and (max-device-width : 480px) {
        /* Styles */
            .team-tagline {
                    font-size: 1.1em;
                }
        }

        @media only screen and (max-device-width: 1600px) {
            .team-banner {
                height: 180px;
            }
        }


    }

    .banner-1 {
        background-image: url('../images/banner-1.png');
    }

    .banner-2 {
        background-image: url('../images/banner-2.png');
    }

    .team-bottom {
        margin-bottom: 25px;
    }

    .stat-right {
        margin: 5px 0 0 20px;
    }

    /* Smartphones (portrait and landscape) ----------- */
        @media only screen and (min-device-width : 320px) and (max-device-width : 480px) {
        /* Styles */
           .stat-right {
                margin: 0;
            }
        }

    .stat-pic-border {
        border: 3px solid black;
        padding: 0;
        margin-bottom: 20px;
    }

    .stat-pic {
        background-repeat: no-repeat;
        background-attachment: scroll;
        background-position: center center;
        background-size: cover;
        height: 280px;
    }

    .pic-1 {
        background-image: url('../images/kevin.png');
        &:hover {
            background-image: url('../images/kevin_real.png');
        }
    }

    .pic-2 {
        background-image: url('../images/glen.png');
        &:hover {
            background-image: url('../images/glen_real.png');
        }
    }

    .social-buttons {
        font-size: 3em;
        text-align:center;
        li {
            padding-right: 16px;
        }
    }
}

.team-stat-card {
    margin: 5px 10px;
    height: 400px;
}


