#team {
    margin-top: 10px;
}

.team-member {
    border: 2px solid black;
    .team-banner {
        background-repeat: no-repeat;
        background-attachment: scroll;
        background-position: center center;
        background-size: cover;
        text-align: center;
        color: black;
        height: 140px;
        .team-name {
            font-family: $font-2;
            font-size: 2.5em;
        }
        .team-tagline {
            margin-top: -15px;
            font-size: 1.3em;
            letter-spacing: 1px;
            word-spacing: 2px;
        }
    }

    .banner-1 {
        background-image: url('../images/banner-1.png');
    }

    .banner-2 {
        background-image: url('../images/banner-2.png');
    }

    .team-bottom {
        margin-bottom: 25px;
    }

    .stat-right {
        margin: 5px 0 0 20px;
    }

    .stat-pic-border {
        border: 3px solid black;
        padding: 0;
        margin-bottom: 20px;
    }

    .stat-pic {
        background-image: url('../images/face.png');
        background-repeat: no-repeat;
        background-attachment: scroll;
        background-position: center center;
        background-size: cover;
        height: 280px;
    }

    .social-buttons {
        font-size: 3em;
        text-align:center;
        li {
            padding-right: 16px;
        }
    }
}
