/* Colors
   ========================================================================== */

$primary-color: #5b80df; /* Blue */
$secondary-color: #34be5c; /* Green */
$third-color: #fff;
$fourth-color: #ccc;
$fifth-color: #fff000; /* Yellow */

