/* Question add and remove buttons */
.question-del, .result-del {
    margin-top: 1em;

    i:hover {
        cursor: pointer;
        color: $third-color;
    }
}

.question-add, .result-add {
    margin-top: 1em;
    font-size: 2em;
    color: $third-color;

    &:hover {
        cursor: pointer;
        color: $primary-color;
    }

}



/* Question options add and remove buttons */
.option-del {
    margin-top: 1em;

    i:hover {
        cursor: pointer;
        color: $third-color;
    }
}

.option-add {
    margin-top: 1em;
    font-size: 1.5em;
    color: $third-color;

    &:hover {
        cursor: pointer;
        color: $primary-color;
    }

}

