.stat-card {
        padding: 0;
        background-color: black;
        min-height: 300px;
        border: 3px solid $primary-color;
        border-radius: 10px;
        -webkit-box-shadow: 6px 6px 19px -1px rgba(0,0,0,0.61);
        -moz-box-shadow: 6px 6px 19px -1px rgba(0,0,0,0.61);
        box-shadow: 6px 6px 19px -1px rgba(0,0,0,0.61);

        .stat-title {
            text-align: center;
            font-family: $font-2;
            font-size: 1.8em;
            color: white;
            border-bottom: 4px dotted white;
            padding: 5px 0;
        }

        .stat-values {
            padding: 5px 8px;
            .stat-blue {
                font-family: $font-1-bi;
                color: $primary-color;
            }
            .stat-green {
                font-family: $font-1-bi;
                color: $secondary-color;
            }
            color: white;
        }

        .stat-features {
            padding: 10px 0 0 10px;
            font-size: 1em;
            ul {
                padding: 0;
            }
        }

        .main-features {
            list-style: none;
        }

        .optional-features {
            color: white;
            margin-left: 20px;
        }

        .additional-features {
            border-radius: 10px;
            text-align: center;
            font-size: 1.2em;
            width: 90%;
            padding: 10px;
            margin: 0 auto;
            margin-bottom: 5px;
        }

        .add-feat-blue {
            border: 2px solid $primary-color;
            color: $primary-color;
        }

        .add-feat-green {
            border: 2px solid $secondary-color;
            color: $secondary-color;
        }

        .base-price {
            text-align: center;
            .price-title {
                color: white;
                font-size: 1.2em;
            }
            .price-value {
                font-family: $font-2;
                font-size: 2.5em;
            }
        }

        .stat-icons {
            text-align:center;
            word-spacing: 12px;
            font-size: 2.5em;
            position: absolute;
            bottom: 1%;
            left: 5%;
        }

         /* Smartphones (portrait and landscape) ----------- */
        @media only screen and (min-device-width : 320px) and (max-device-width : 480px) {
        /* Styles */
               .stat-icons {
                word-spacing: 30px;
            }
        }

        .stat-icon-blue {
            color: $primary-color;
        }

        .stat-icon-green {
            color: $secondary-color;
        }
    }

.stat-card-green{
    border: 3px solid $secondary-color;
}

.color-blue {
  color: $primary-color !important;
}

.color-green {
  color: $secondary-color !important;
}
