/*Custom Navigation Bar */


.navbar-custom {
    background-color: $fifth-color;
    border-color: transparent;
    .navbar-brand {
        color: $third-color;
        &:hover,
        &:focus,
        &:active,
        &.active {
            color: darken($third-color, 10%);
        }
    }
    .navbar-collapse {
        border-color: fade-out(white, .02);
    }
    .navbar-nav>.active>a {
        border-radius: 0;
        color: white;
    }
    .navbar-nav>.active>a:hover,
    .navbar-nav>.active>a:focus {
        color: white;
        background-color: darken($third-color, 10%);
    }
}

.nav-logo > img {
    height: 40px;
    margin-left: 20px;
}

.navbar-custom {
    padding: 10px 0;
}

.navbar-toggle {
        background: transparent;
        border: none;
        color: $primary-color;
        font-family: $font-1;
        font-size: 12px;
        &:hover,
        &:focus {
            background-color: $third-color;
        }
    }

.nav {
            li {
                a {
                    font-weight: 800;
                    font-size: 2em;
                    letter-spacing: 1px;
                    color: white;
                    -webkit-text-fill-color: white;

                    -webkit-text-stroke-color: black;
                    text-shadow:
                       3px 3px 0 #000,
                     -1px -1px 0 #000,
                      1px -1px 0 #000,
                      -1px 1px 0 #000,
                       1px 1px 0 #000;
                    &:hover,
                    &:focus {
                        -webkit-text-fill-color: $primary-color;
                        background-color: transparent;
                        outline: none;
                    }
                }
            }
        }

/* Bootstrap Override */
.navbar-fixed-top {
    background-color: $fifth-color;
}

@media(min-width:1224px) {
    .navbar-custom {
        background-color: $fifth-color;
        margin-top: 40px;
        -webkit-transition: margin 0.3s;
        -moz-transition: margin 0.3s;
        transition: margin 0.3s;
        border-top: 5px solid black;
        border-bottom: 5px solid black;
        .nav-logo  > img{
            height: 50px;
            margin-left: -50px;
        }
        .navbar-nav>.active>a {
            border-radius: 3px;
            -webkit-text-fill-color: $primary-color;
        }
    }
}

// Navbar Change on Scroll

@media(min-width:1224px) {
    .navbar-custom.affix {
        background-color: $third-color;
        padding: 10px 0;
        .navbar-brand {
            font-size: 1.5em;
        }
    }
}

.navbar-custom.affix {
        background-color: $fifth-color;
        margin: 0;
        padding: 10px 0;
        border:none;
        .nav-logo {
            font-size: 1.5em;
        }
    }


/* iPads (portrait and landscape) ----------- */
@media only screen and (min-device-width : 768px) and (max-device-width : 1024px) {
/* Styles */
    .nav-logo > img {
        height: 40px;
        margin-left: 10px;
        margin-top:5px;
    }

    .nav {
                li {
                    a {
                        font-weight: 800;
                        font-size: 1.7em;
                        letter-spacing: 0.5px;
                        color: white;
                        -webkit-text-fill-color: white;

                        -webkit-text-stroke-color: black;
                        text-shadow:
                           3px 3px 0 #000,
                         -1px -1px 0 #000,
                          1px -1px 0 #000,
                          -1px 1px 0 #000,
                           1px 1px 0 #000;
                        &:hover,
                        &:focus {
                            -webkit-text-fill-color: $primary-color;
                            background-color: transparent;
                            outline: none;
                        }
                    }
                }
            }
}

/* Changing the breakpoint for navigation toggle*/
@media (max-width: 780px) {
    .navbar-header {
        float: none;
    }
    .navbar-left,.navbar-right {
        float: none !important;
    }
    .navbar-toggle {
        display: block;
    }
    .navbar-collapse {
        border-top: 1px solid transparent;
        box-shadow: inset 0 1px 0 rgba(255,255,255,0.1);
    }
    .navbar-fixed-top {
        top: 0;
        border-width: 0 0 1px;
    }
    .navbar-collapse.collapse {
        display: none!important;
    }
    .navbar-nav {
        float: none!important;
        margin-top: 7.5px;
    }
    .navbar-nav>li {
        float: none;
    }
    .navbar-nav>li>a {
        padding-top: 10px;
        padding-bottom: 10px;
    }
    .collapse.in{
        display:block !important;
    }
}
