.nav-tabs > li > a {
    background-color: transparent;
    border: 0;
    font-size: 2em;
    color: $third-color;

    &:hover, &:focus {
        background-color: transparent;
        border: 0;
    }
}

.nav-tabs > li.active > a {
    background-color: transparent;
    border: 0;
    border-bottom: 1px solid $primary-color;
    font-size: 2em;
    color: $primary-color;

    &:hover, &:focus {
        background-color: transparent;
        border: 0;
        border-bottom: 1px solid $primary-color;
        color: $primary-color;
    }
}

.question-wrapper, .result-wrapper {
    overflow: hidden;
    margin: 1em 0 0.5em 0;
}
