{% extends 'base.html' %}

{% block body%}
    <!-- Header -->
    <header>
      <div class="container">
        <div class="intro-text">
          <!-- <span id="typed"></span> -->
          <div id="typed-strings" style="display:none">
            <p>Web Apps</p>
            <p>Websites</p>
            <p>UI/UX</p>
            <p>DevOps</p>
            <p>Server Maintenance</p>
            <p>WordPress</p>
            <p>SEO</p>
          </div>
          <div id="intro-lead-in-wrapper">
            <span id="typed" class="intro-lead-in"></span>
          </div>
          <div class="intro-heading">Welcome to Zephony</div>
          <a href="#about" class="page-scroll btn btn-xl">Know More</a>
          <a href="/portfolio" class="page-scroll btn btn-xl">View Portfolio</a>
        </div>
      </div>
    </header>

    <!-- About Section -->
    <section id="about">
      <div class="container">
        <div class="row">
          <div class="col-lg-12 text-center">
            <h2 class="section-heading">About</h2>
            <!--   <p class="text-muted">
              We at Zephony pride ourselves in building top notch applications with the latest and best tech stacks that will leave you pleased as punch. We might seem like any other team, and that's because we are but just like the Avengers or the Justice League, we strive to be better superheroes while at the same time complementing each other skills in order to deliver to you a finished product of the highest standards.
              So what are you waiting for? Leave us a message and we'll get in touch ASAP!
              </p> -->
          </div>
        </div>
        <div class="row">
          <div class="col-lg-12">
            <ul class="timeline">
              <li>
                <div class="timeline-image">
                  <!-- <img class="img-circle img-responsive" src="../static/img/about/1.jpg" alt=""> -->
                  <i class="fa fa-user-secret fa-5x fa-inverse about-icon"></i>
                </div>
                <div class="timeline-panel">
                  <div class="timeline-heading">
                    <!-- <h4>2009-2011</h4> -->
                    <h4 class="subheading">Who We Are</h4>
                  </div>
                  <div class="timeline-body">
                    <p class="text-muted">Web Developers and technology enthusiasts looking to grow and inspire people, one line of code at a time.</p>
                  </div>
                </div>
              </li>
              <li class="timeline-inverted">
                <div class="timeline-image">
                  <i class="fa fa-beer fa-5x fa-inverse about-icon"></i>
                </div>
                <div class="timeline-panel">
                  <div class="timeline-heading">
                    <!-- <h4>March 2011</h4> -->
                    <h4 class="subheading">What We Do</h4>
                  </div>
                  <div class="timeline-body">
                    <p class="text-muted">We build top notch applications with the latest and best tech stacks that will leave you pleased as punch.</p>
                  </div>
                </div>
              </li>
              <li>
                <div class="timeline-image">
                  <i class="fa fa-superpowers fa-5x fa-inverse about-icon"></i>
                </div>
                <div class="timeline-panel">
                  <div class="timeline-heading">
                    <!-- <h4>December 2012</h4> -->
                    <h4 class="subheading">How We Do It</h4>
                  </div>
                  <div class="timeline-body">
                    <p>
                    - Understand your requirements<br>
                    - Come up with an action plan<br>
                    - Execute the plan<br>
                    - Deliver the goods<br>
                    - Celebrate your success!
                    </p>
                  </div>
                </div>
              </li>
              <li class="timeline-inverted">
                <div class="timeline-image">
                  <i class="fa fa-image fa-5x fa-inverse about-icon"></i>
                </div>
                <div class="timeline-panel">
                  <div class="timeline-heading">
                    <!-- <h4>July 2014</h4> -->
                    <h4 class="subheading">A Little More Convincing</h4>
                  </div>
                  <div class="timeline-body">
                    <p class="text-muted">Here's a sample of some of our work so far! - <a href="/portfolio">View Portfolio</a></p>
                  </div>
                </div>
              </li>
              <li class="timeline-inverted">
                <a href="#services" class="page-scroll">
                  <div class="timeline-image email-cta">
                    <h4>Checkout
                      <br>Our
                      <br>Services
                    </h4>
                  </div>
                </a>
              </li>
            </ul>
          </div>
        </div>
      </div>
    </section>

    <!-- Services Section -->
    <section id="services" class="bg-light-gray">
      <div class="container">
        <div class="row">
          <div class="col-lg-12 text-center">
            <h2 class="section-heading">Services</h2>
            <h3 class="section-subheading text-muted">
              We may not be able to build a rocket, but we can definitely lauch your next business into the limelight!
            </h3>
          </div>
        </div>
        <div class="row text-center">
          <div class="col-md-4">
            <span class="fa-stack fa-4x">
              <i class="fa fa-circle fa-stack-2x text-primary"></i>
              <i class="fa fa-shopping-cart fa-stack-1x fa-inverse"></i>
            </span>
            <h4 class="service-heading">Web Apps</h4>
            <p class="text-muted">
            From a brilliant idea to a fully working application on the Cloud, look no further, we'll make you proud.
            </p>
          </div>
          <div class="col-md-4">
            <span class="fa-stack fa-4x">
              <i class="fa fa-circle fa-stack-2x text-primary"></i>
              <i class="fa fa-laptop fa-stack-1x fa-inverse"></i>
            </span>
            <h4 class="service-heading">UI/UX</h4>
            <p class="text-muted">
            When it comes to the web, looks do matter; and we have a good taste for design and User Experience.
            </p>
          </div>
          <!-- <div class="col-md-3">
            <span class="fa-stack fa-4x">
            <i class="fa fa-circle fa-stack-2x text-primary"></i>
            <i class="fa fa-pencil-square-o fa-stack-1x fa-inverse"></i>
            </span>
            <h4 class="service-heading">Content Writing and SEO</h4>
            <p class="text-muted">
            With great content, comes great traffic. And with great traffic, comes greater revenue.
            </p>
            </div> -->
            <div class="col-md-4">
              <span class="fa-stack fa-4x">
                <i class="fa fa-circle fa-stack-2x text-primary"></i>
                <i class="fa fa-server fa-stack-1x fa-inverse"></i>
              </span>
              <h4 class="service-heading">Server Maintenance</h4>
              <p class="text-muted">
              From fixing things to scaling up and automating boring tasks, let us take care of the technical nitty-gritty while you focus on things that really matter.
              </p>
            </div>
        </div>
      </div>
    </section>

{% endblock %}
