{% extends 'base.html' %}

{% block body%}
    <!-- Header -->
   <header>
        <div class="container">
            <div class="intro-stats hidden-sm hidden-xs wow slideInDown">
                <p class="stats-date">July 2017</p>
                <p class="stats-price">$40/hr</p>
                <p class="more-stats">Enter Random Stats</p>
            </div>
            <div class="intro-text">
                <div class="intro-lead-in wow bounceInDown" data-wow-delay="2.5s" data-wow-duration="2s">
                    <img src="/static/images/title.png" alt="Zephony"></div>
                <div class="intro-heading wow fadeIn" data-wow-delay="1s">An Organisation Destined to FIght the Crimes of Poor User Experience and Design</div>
                <div class="intro-read wow pulse" data-wow-iteration="10" data-wow-delay="4s">
                    Read on to find out!
                </div>
            </div>
            <div class="intro-cta cta-1 hidden-sm hidden-xs wow rotateIn" data-wow-delay="1.5s" data-wow-duration="2s">
                <img src="/static/images/speech_bubble.png" alt="Speech Bubble">
                <p>Take your business to the next level</p>
            </div>
            <div class="intro-cta cta-2 hidden-sm hidden-xs wow rotateIn" data-wow-delay="2s" data-wow-duration="2s">
                <img src="/static/images/speech_bubble.png" alt="Speech Bubble">
                <p>Who are they? <br>How can they help?</p>
            </div>
            <!-- <div class="intro-ribbon hidden-sm hidden-xs wow slideInDown" data-wow-delay="2s">
                <img src="static/images/ribbon.png" alt="Ribbon">
            </div> -->
        </div>
    </header>

    <!-- Team Section -->
    <section id="team">
        <div class="container-fluid">
            <div class="row">
                <div class="col-sm-12 col-md-6 box-left">
                    <div class="team-member">
                        <div class="team-banner banner-1">
                            <p class="team-name wow slideInLeft" data-wow-duration="0.5s">Kevin Isaac A.K.A Py Man</p>
                            <p class="team-tagline wow slideInLeft">
                                The Dark Knight that makes everything run
                            </p>
                        </div>
                        <div class="team-bottom col-sm-12 col-md-12">
                           <div class="stat-card team-stat-card col-sm-5 col-md-5 wow flipInX" data-wow-duration="2s">
                                <div class="stat-title">
                                    Vital Stats
                                </div>
                                <div class="stat-values">
                                    <p><span class="stat-blue">Strengths:</span> Web Development, Database Management, Server Administration, Problem Solving</p>
                                    <p><span class="stat-blue">Dislikes:</span> Windows OS, Poorly indented code</p>
                                    <p><span class="stat-blue">Interests:</span> Guitar, Learning New Languages, Personal Development</p>
                                </div>
                                <div class="stat-icons stat-icon-blue">
                                    <p>
                                        <i class="devicon-html5-plain-wordmark"></i>
                                        <i class="devicon-css3-plain-wordmark"></i>
                                        <i class="devicon-jquery-plain-wordmark"></i>
                                        <i class="devicon-backbonejs-plain-wordmark"></i>
                                    </p>
                                    <p>
                                        <i class="devicon-python-plain-wordmark"></i>
                                        <i class="devicon-mysql-plain-wordmark"></i>
                                        <i class="devicon-linux-plain"></i>
                                        <i class="devicon-nginx-original-wordmark"></i>
                                    </p>
                                </div>
                            </div>

                            <div class="stat-right col-sm-6 col-md-6 wow fadeIn" data-wow-delay="1s" data-wow-duration="2s">
                                <div class="stat-pic-border col-sm-12 col-md-12">
                                    <div class="stat-pic pic-1">

                                    </div>
                                </div>
                                  <ul class="list-inline social-buttons">
                                    <li><a href="#"><i class="fa fa-envelope"></i></a>
                                    </li>
                                    <li><a href="#"><i class="fa fa-github"></i></a>
                                    </li>
                                    <li><a href="#"><i class="fa fa-facebook"></i></a>
                                    </li>
                                    <li><a href="#"><i class="fa fa-twitter"></i></a>
                                    </li>
                                </ul>
                            </div>
                        </div>

                        <div class="comic-caption col-md-offset-6 col-md-6 wow fadeIn" data-wow-delay="2s" data-wow-duration="2s">
                            In the summer of 2017, the two of them joined forces...
                        </div>

                        <div class="clearfix"></div>

                    </div>
                </div>
                <div class="col-sm-12 col-md-6 box-right">
                    <div class="team-member">
                        <div class="team-banner banner-2">
                            <p class="team-name wow slideInRight" data-wow-duration="0.5s">Glen Padua A.K.A JS Boy</p>
                            <p class="team-tagline wow slideInRight">
                                Turns Visions into Reality
                            </p>
                        </div>

                         <div class="team-bottom col-sm-12 col-md-12">
                           <div class="stat-card team-stat-card col-sm-5 col-md-5 wow flipInX" data-wow-duration="2s">
                                <div class="stat-title">
                                    Vital Stats
                                </div>
                                <div class="stat-values">
                                    <p><span class="stat-green">Strengths:</span> Web Development, Photoshop, Wordpress, Overactive Imagination</p>
                                    <p><span class="stat-green">Dislikes:</span> Slow Loading Webpages, Too many JS libraries</p>
                                    <p><span class="stat-green">Interests:</span> Football, Arsenal, Blogging, Ukulele. Personal Development</p>
                                </div>
                                <div class="stat-icons stat-icon-green">
                                    <p>
                                        <i class="devicon-html5-plain-wordmark"></i>
                                        <i class="devicon-css3-plain-wordmark"></i>
                                        <i class="devicon-wordpress-plain-wordmark"></i>
                                        <i class="devicon-javascript-plain"></i>
                                    </p>
                                    <p>
                                        <i class="devicon-photoshop-plain"></i>
                                        <i class="devicon-mongodb-plain-wordmark"></i>
                                        <i class="devicon-nodejs-plain-wordmark"></i>
                                        <i class="devicon-gulp-plain"></i>
                                    </p>
                                </div>
                            </div>

                            <div class="stat-right col-sm-6 col-md-6 wow fadeIn" data-wow-delay="1s" data-wow-duration="2s">
                                <div class="stat-pic-border col-sm-12 col-md-12">
                                    <div class="stat-pic pic-2">

                                    </div>
                                </div>
                                  <ul class="list-inline social-buttons social-green">
                                    <li><a href="#"><i class="fa fa-envelope"></i></a>
                                    </li>
                                    <li><a href="#"><i class="fa fa-github"></i></a>
                                    </li>
                                    <li><a href="#"><i class="fa fa-facebook"></i></a>
                                    </li>
                                    <li><a href="#"><i class="fa fa-twitter"></i></a>
                                    </li>
                                </ul>
                            </div>
                        </div>

                        <div class="comic-caption col-md-6 wow fadeIn" data-wow-delay="4s" data-wow-duration="2s">
                            ...And started a venture by using their skills to offer services such as...
                        </div>

                        <div class="clearfix"></div>
                    </div>
                </div>
            </div>
        </div>
    </section>

    <!-- Services Section -->
    <section id="services">
        <div class="container-fluid">
            <div class="row">
                <div class="col-sm-12 col-md-6 box-left">
                    <div class="service">
                        <div class="service-name color-blue wow slideInLeft">
                            <h1>Web Applications</h1>
                        </div>
                        <div class="service-details wow fadeIn" data-wow-delay="1s">
                            <ul class="dashed">
                                <li>Ideal for large scale applications with complex business logic</li>
                                <li>Custom design and development from scratch</li>
                                <li>Back-end built with API first architecture so applications can be developed on any platform</li>
                                <li>Front-end built using MVC architecture</li>
                                <li>Single Page Applications powered completely by AJAX can be built</li>
                                <li>All parts of the stack upto Server Administration can be taken care off</li>
                            </ul>
                        </div>
                        <div class="service-image service-1 wow fadeInUp" data-wow-duration="3s" data-wow-delay="2s">
                              <div class="comic-caption col-md-offset-6 col-md-6 service-cap-1">
                                A wise old man once said...
                            </div>
                        </div>
                    </div>
                </div>

                <div class="col-sm-12 col-md-6 box-right">
                    <div class="service">
                        <div class="service-name color-green wow slideInRight">
                            <h1>Wordpress</h1>
                        </div>
                        <div class="service-details wow fadeIn" data-wow-delay="1s">
                            <ul class="dashed">
                                <li>Ideal for small scale businesses and marketing campaigns</li>
                                <li>Tons of themes and plugins to choose from </li>
                                <li>Powers over 20% of sites out there</li>
                                <li>Easier maintainance for you</li>
                                <li>Time and budget friendly </li>
                                <li>SEO friendly out of the box and can be improved </li>
                                <li>Customizable to your exact look and feel</li>
                            </ul>
                        </div>
                        <div class="service-image service-2 wow fadeInUp" data-wow-duration="3s" data-wow-delay="2s">
                            <div class="comic-caption col-md-6 service-cap-2">
                            ..."With great power comes great responsibility". Find out how they do it...
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>

    <!-- Process Section -->
    <section id="process">
        <div class="container-fluid">
            <div class="row">
                <div class="col-sm-12 col-md-12">
                    <div class="process">
                        <div class="process-title wow slideInLeft">
                            <h1>Our Creative Process</h1>
                        </div>
                        <div class="process-container">
                            <div class="process-block process-down col-md-2 col-sm-2">
                                <div class="arrow arrow-1 arrow-top hidden-sm hidden-xs wow fadeIn" data-wow-delay="2s">
                                    <i class="fa fa-long-arrow-up fa-4x"></i>
                                </div>
                                <div class="circle circle-down col-md-12 col-xs-6 wow bounceInDown" data-wow-delay="1s">
                                    Empathize
                                </div>
                                <div class="process-text ptext-1 process-text-1 col-md-12 col-xs-6 wow fadeIn" data-wow-delay="1s">
                                    <p>
                                        - Understand Your Requirements<br>- Understand Your Domain<br>- Identify the target/audience
                                    </p>
                                </div>
                            </div>
                            <div class="clearfix visible-xs "></div>

                            <div class="process-block process-top col-md-2 col-sm-2">
                                <div class="process-text ptext-2 col-md-12 col-xs-6 wow fadeIn" data-wow-delay="3s">
                                    <p>
                                        - Come up with a plan of action<br>- Define the app architecture<br>- Agreement of terms and  deadlines
                                    </p>
                                </div>
                                <div class="circle circle-top col-md-12 col-xs-6 wow bounceInDown" data-wow-delay="3s">
                                    Define
                                </div>
                                <div class="arrow arrow-1 arrow-down hidden-sm hidden-xs wow fadeIn" data-wow-delay="4s">
                                    <i class="fa fa-long-arrow-down fa-4x"></i>
                                </div>
                            </div>
                            <div class="clearfix visible-xs "></div>

                            <div class="process-block process-down col-md-2 col-sm-2">
                                <div class="arrow arrow-1 arrow-top hidden-sm hidden-xs wow fadeIn" data-wow-delay="6s">
                                    <i class="fa fa-long-arrow-up fa-4x"></i>
                                </div>
                                <div class="circle circle-down col-md-12 col-xs-6 wow bounceInDown" data-wow-delay="5s">
                                    Design
                                </div>
                                <div class="process-text ptext-1  col-md-12 col-xs-6 wow fadeIn" data-wow-delay="5s">
                                    <p>
                                        - Come up with the basic layout<br>- Mockup on Photoshop if needed<br>- Or choose and customize a theme
                                    </p>
                                </div>
                            </div>
                            <div class="clearfix visible-xs "></div>

                            <div class="process-block process-top col-md-2 col-sm-2">
                                <div class="process-text ptext-2 col-md-12 col-xs-6 wow fadeIn" data-wow-delay="7s">
                                    <p>
                                        - Write neat modular code<br>- Deployment to test environment on regular basis<br>- Continuous Integration and Deployment
                                    </p>
                                </div>
                                <div class="circle circle-top  col-md-12 col-xs-6 wow bounceInDown" data-wow-delay="7s">
                                    Develop
                                </div>
                                <div class="arrow arrow-1 arrow-down hidden-sm hidden-xs wow fadeIn" data-wow-delay="8s">
                                    <i class="fa fa-long-arrow-down fa-4x"></i>
                                </div>
                            </div>
                            <div class="clearfix visible-xs "></div>

                            <div class="process-block  process-down col-md-2 col-sm-2">
                                <div class="arrow arrow-1 arrow-top hidden-sm hidden-xs wow fadeIn" data-wow-delay="10s">
                                    <i class="fa fa-long-arrow-up fa-4x"></i>
                                </div>
                                <div class="circle circle-down  col-md-12 col-xs-6 wow bounceInDown" data-wow-delay="9s">
                                    Test
                                </div>
                                <div class="process-text ptext-1 col-md-12 col-xs-6 wow fadeIn" data-wow-delay="9s">
                                    <p>
                                        - User Acceptance Testing<br>- A/B Testing<br>- Performance Testing
                                    </p>
                                </div>
                            </div>
                            <div class="clearfix visible-xs "></div>

                            <div class="process-block process-top col-md-2 col-sm-2">
                                <div class="process-text ptext-2 col-md-12 col-xs-6 wow fadeIn" data-wow-delay="11s">
                                    <p>
                                        - Bug free website/webapp<br>- Watch the users pour in<br>- Pop a bottle of champagne
                                    </p>
                                </div>
                                <div class="circle circle-top  col-md-12 col-xs-6 wow bounceInDown" data-wow-delay="11s">
                                    Launch
                                </div>
                            </div>


                            <div class="clearfix"></div>
                        </div>

                    </div>
                </div>

            </div>
        </div>
    </section>

    <!-- Process Section -->
    <section id="packages">
        <div class="container-fluid">
            <div class="row">
                <div class="col-sm-12 col-md-12">
                    <div class="packages">
                        <div class="package-title wow slideInLeft">
                            <h1>Packages and Pricing</h1>
                        </div>
                        <div class="package-container">

                            <div class="stat-card package-stat-card col-sm-3 col-md-3 wow flipInX">
                                <div class="stat-title color-blue">
                                    Simple WordPress Site
                                </div>
                                <div class="stat-features">
                                    <ul class="main-features color-blue">
                                        <li><i class="fa fa-check"></i> Upto 5 pages</li>
                                        <li><i class="fa fa-check"></i> Secure, Site Analytics and On page SEO</li>
                                        <li><i class="fa fa-check"></i> Mobile and cross browser compatible</li>
                                    </ul>
                                    <ul class="optional-features">
                                        <li>Website Hosting and Deployment</li>
                                        <li>Content Writing</li>
                                        <li>Social media Integration</li>
                                    </ul>
                                </div>
                                <div class="additional-features add-feat-blue">
                                    + Any Additional Features
                                </div>
                                <div class="base-price">
                                    <div class="price-title">Base Price</div>
                                    <div class="price-value color-blue">$1000</div>
                                </div>

                            </div>


                            <div class="stat-card package-stat-card stat-card-green col-sm-3 col-md-3 wow flipInX">
                                <div class="stat-title color-green">
                                    Wordpress Membership Site
                                </div>
                                <div class="stat-features">
                                    <ul class="main-features color-green">
                                        <li><i class="fa fa-check"></i> Same as Simple Wordpress Site</li>
                                        <li><i class="fa fa-check"></i> Login and Registration</li>
                                        <li><i class="fa fa-check"></i> Super Amazing Feature 3</li>
                                    </ul>
                                    <ul class="optional-features">
                                        <li>Optional Possible Feature 1</li>
                                        <li>Optional Possible Feature 2</li>
                                        <li>Optional Possible Feature 3</li>
                                    </ul>
                                </div>
                                <div class="additional-features add-feat-green">
                                    + Any Additional Features
                                </div>
                                <div class="base-price">
                                    <div class="price-title">Base Price</div>
                                    <div class="price-value">$500</div>
                                </div>
                            </div>

                            <div class="stat-card package-stat-card col-sm-3 col-md-3 wow flipInX">
                                <div class="stat-title color-blue">
                                    Simple WordPress Site
                                </div>
                                <div class="stat-features">
                                    <ul class="main-features color-blue">
                                        <li><i class="fa fa-check"></i> Super Amazing Feature 1</li>
                                        <li><i class="fa fa-check"></i> Super Amazing Feature 2</li>
                                        <li><i class="fa fa-check"></i> Super Amazing Feature 3</li>
                                    </ul>
                                    <ul class="optional-features">
                                        <li>Optional Possible Feature 1</li>
                                        <li>Optional Possible Feature 2</li>
                                        <li>Optional Possible Feature 3</li>
                                    </ul>
                                </div>
                                <div class="additional-features add-feat-blue">
                                    + Any Additional Features
                                </div>
                                <div class="base-price">
                                    <div class="price-title">Base Price</div>
                                    <div class="price-value color-blue">$500</div>
                                </div>

                            </div>

                            <div class="stat-card package-stat-card stat-card-green col-sm-3 col-md-3 wow flipInY">
                                <div class="stat-title color-green">
                                    Wordpress Membership Site
                                </div>
                                <div class="stat-features">
                                    <ul class="main-features color-green">
                                        <li><i class="fa fa-check"></i> Super Amazing Feature 1</li>
                                        <li><i class="fa fa-check"></i> Super Amazing Feature 2</li>
                                        <li><i class="fa fa-check"></i> Super Amazing Feature 3</li>
                                    </ul>
                                    <ul class="optional-features">
                                        <li>Optional Possible Feature 1</li>
                                        <li>Optional Possible Feature 2</li>
                                        <li>Optional Possible Feature 3</li>
                                    </ul>
                                </div>
                                <div class="additional-features add-feat-green">
                                    + Any Additional Features
                                </div>
                                <div class="base-price">
                                    <div class="price-title">Base Price</div>
                                    <div class="price-value">$500</div>
                                </div>
                            </div>

                            <div class="stat-card package-stat-card col-sm-3 col-md-3 wow flipInY">
                                <div class="stat-title color-blue">
                                    Simple WordPress Site
                                </div>
                                <div class="stat-features">
                                    <ul class="main-features color-blue">
                                        <li><i class="fa fa-check"></i> Super Amazing Feature 1</li>
                                        <li><i class="fa fa-check"></i> Super Amazing Feature 2</li>
                                        <li><i class="fa fa-check"></i> Super Amazing Feature 3</li>
                                    </ul>
                                    <ul class="optional-features">
                                        <li>Optional Possible Feature 1</li>
                                        <li>Optional Possible Feature 2</li>
                                        <li>Optional Possible Feature 3</li>
                                    </ul>
                                </div>
                                <div class="additional-features add-feat-blue">
                                    + Any Additional Features
                                </div>
                                <div class="base-price">
                                    <div class="price-title">Base Price</div>
                                    <div class="price-value color-blue">$500</div>
                                </div>

                            </div>

                            <div class="stat-card package-stat-card stat-card-green col-sm-3 col-md-3 wow flipInY">
                                <div class="stat-title color-green">
                                    Wordpress Membership Site
                                </div>
                                <div class="stat-features">
                                    <ul class="main-features color-green">
                                        <li><i class="fa fa-check"></i> Super Amazing Feature 1</li>
                                        <li><i class="fa fa-check"></i> Super Amazing Feature 2</li>
                                        <li><i class="fa fa-check"></i> Super Amazing Feature 3</li>
                                    </ul>
                                    <ul class="optional-features">
                                        <li>Optional Possible Feature 1</li>
                                        <li>Optional Possible Feature 2</li>
                                        <li>Optional Possible Feature 3</li>
                                    </ul>
                                </div>
                                <div class="additional-features add-feat-green">
                                    + Any Additional Features
                                </div>
                                <div class="base-price">
                                    <div class="price-title">Base Price</div>
                                    <div class="price-value">$500</div>
                                </div>
                            </div>



                            <div class="clearfix"></div>
                        </div>

                    </div>
                </div>

            </div>
        </div>
    </section>

{% endblock %}
