<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Zephony Portfolio</title>
  <!-- Bootstrap Core CSS -->
   <link rel="stylesheet" href="/static/css/bootstrap.min.css">

  <link rel="stylesheet" href="https://storage.googleapis.com/code.getmdl.io/1.0.4/material.blue_grey-deep_orange.min.css">
     <!-- Theme CSS -->
  <!-- Bootstrap -->

  <!-- <link rel="stylesheet" href="/static/css/styles.css"> -->
  <link href="/static/css/portfolio.css" rel="stylesheet">
</head>
<body>

<!-- Navigation -->
    <nav id="mainNav" class="navbar navbar-default navbar-custom navbar-fixed-top" style="background-color:#fff000;padding:14px">
        <div class="container">
            <!-- Brand and toggle get grouped for better mobile display -->
            <div class="navbar-header page-scroll">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
                    <span class="sr-only">Toggle navigation</span> Menu <i class="fa fa-bars"></i>
                </button>
                <a class="navbar-left page-scroll nav-logo" href="/"><img  src="/static/images/title.png" alt="Zephony"></a>
            </div>

            <!-- Collect the nav links, forms, and other content for toggling -->
            <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                <ul class="nav navbar-nav navbar-right">
                    <li class="hidden">
                        <a href="#page-top"></a>
                    </li>
                    <li>
                        <a class="page-scroll" href="/"> << Back Home</a>
                    </li>
                </ul>
            </div>
            <!-- /.navbar-collapse -->
        </div>
        <!-- /.container-fluid -->
    </nav>

<header class="portfolio-header">
  <h1>Missions Accomplished</h1>
  <div class="subtitle"><p>A Glimpse Into Our Most Noteworthy Work</p></div>
  <div class="intro">

<p>Below is some of the work we&#39;ve done and products we&#39;ve built.</p>
  </div>
</header>

<main class="container">

 <!-- Project 1 -->
  <section class="project tall">
    <div class="info">
      <h2>Zucumber - Appointments Made Easier</h2>
      <p class="date">January 2017 - June 2017</p>
      <p>A Single Page Web Application that schedules appointments automatically for small to medium sized businesses.  The front-end of the application was built by us using Backbone.js, AJAX and jQuery, consuming a REST API.</p>

<p>The whole appllcation was optimized to load in the least time possible, and being a Single Page Application, provides an experience similar to Desktop and smartphone applications.</p>

      <!-- <div class="actions">

        <a href="http://www.zucumber.com">Visit Site</a>

      </div> -->

    </div>
    <div class="pages">
      <div class="page-scroll">

        <div class="page   image" style="background-color: #c2d6f2 ">
          <div class="media loader-parent"  style="color:#3c6caf">
            <div

              class="device-frame device-browser">

            <!-- <div class="media image" style="background-image: url(media/portfolio-zucumber-1.png);"></div> -->
            <img src="static/images/portfolio/portfolio-zucumber-1.png">


            </div>
            <svg class="loading-spinner" width="64" height="64" viewbox="0 0 64 64">
              <circle cx="32" cy="32" r="20" fill="none" stroke-width="6" stroke-miterlimit="10" stroke="#ccc" />
            </svg>
          </div>

        </div>

        <div class="page   image" style="background-color: #bbdefb ">
          <div class="media loader-parent" >
            <div

              class="device-frame device-browser">

            <!-- <div class="media image" style="background-image: url(media/portfolio-zucumber-2.png);"></div> -->
            <img src="static/images/portfolio/portfolio-zucumber-2.png">


            </div>
            <svg class="loading-spinner" width="64" height="64" viewbox="0 0 64 64">
              <circle cx="32" cy="32" r="20" fill="none" stroke-width="6" stroke-miterlimit="10" stroke="#ccc" />
            </svg>
          </div>

          <div class="caption">
            <p>Client details and Appointment Summaries</p>
          </div>

        </div>

        <div class="page   image" style="background-color: #ffe0b2 ">
          <div class="media loader-parent"  style="color:#fb8c00">
            <div

              class="device-frame device-browser">

            <!-- <div class="media image" style="background-image: url(media/portfolio-zucumber-3.png);"></div> -->
            <img src="static/images/portfolio/portfolio-zucumber-3.png">


            </div>
            <svg class="loading-spinner" width="64" height="64" viewbox="0 0 64 64">
              <circle cx="32" cy="32" r="20" fill="none" stroke-width="6" stroke-miterlimit="10" stroke="#ccc" />
            </svg>
          </div>

          <div class="caption">
            <p>View to manage all appointments</p>
          </div>

        </div>

      </div>
    </div>
  </section>

  <!-- Project 2 -->
  <section class="project tall">
    <div class="info">
      <h2>Freeth - A Social Network for Passionate People</h2>
      <p class="date">Jan 2016 - December 2016</p>
      <p>A social networking site that connects passionate people based on their interests and location.</p>

<p>Full Stack development was done for this Single Page application. The entire front-end was coded using HTML5, PostCSS and BackboneJS. The site is completely responsive and works on both tablet and mobile screens too.</p>

<p>The backend and the REST API was built using the Python Flask framework and the powerful API creation framework called Falcon.</p>

<p>For the database, we used both PostgreSQL and Titan (graph database) to define a well-structured model for the data and their relationships. Celery and RabbitMQ were used for managing tasks like sending emails and building the database index.</p>

      <!-- <div class="actions">

        <a href="http://www.freeth.in">Visit Site</a>

      </div> -->

    </div>
    <div class="pages">
      <div class="page-scroll">

        <div class="page   image" style="background-color: #ffe0b2 ">
          <div class="media loader-parent" >
            <div

              class="device-frame device-browser">

            <!-- <div class="media image" style="background-image: url(media/portfolio-freeth-1.png);"></div> -->
            <img src="static/images/portfolio/portfolio-freeth-1.png">


            </div>
            <svg class="loading-spinner" width="64" height="64" viewbox="0 0 64 64">
              <circle cx="32" cy="32" r="20" fill="none" stroke-width="6" stroke-miterlimit="10" stroke="#ccc" />
            </svg>
          </div>

          <div class="caption">
            <p>Account settings page</p>
          </div>

        </div>

        <div class="page   image" style="background-color: #b2dfdb ">
          <div class="media loader-parent" >
            <div

              class="device-frame device-browser">

            <!-- <div class="media image" style="background-image: url(media/portfolio-freeth-2.png);"></div> -->
            <img src="static/images/portfolio/portfolio-freeth-2.png">


            </div>
            <svg class="loading-spinner" width="64" height="64" viewbox="0 0 64 64">
              <circle cx="32" cy="32" r="20" fill="none" stroke-width="6" stroke-miterlimit="10" stroke="#ccc" />
            </svg>
          </div>

          <div class="caption">
            <p>Profile/Connections page - This page has multiple tabs below the main profile section where all connections, followers and followings are listed under each tab.</p>
          </div>

        </div>

        <div class="page   image" style="background-color: #e1bee7 ">
          <div class="media loader-parent" >
            <div

              class="device-frame device-browser">

            <!-- <div class="media image" style="background-image: url(media/portfolio-freeth-3.png);"></div> -->
            <img src="static/images/portfolio/portfolio-freeth-3.png">


            </div>
            <svg class="loading-spinner" width="64" height="64" viewbox="0 0 64 64">
              <circle cx="32" cy="32" r="20" fill="none" stroke-width="6" stroke-miterlimit="10" stroke="#ccc" />
            </svg>
          </div>

          <div class="caption">
            <p>Feeds page - This page is for publishing content to all the followers and connections. Posts can be &quot;liked&quot;, updated or deleted by the post creator.</p>
          </div>

        </div>

        <div class="page   image" style="background-color: #f5f5f5 ">
          <div class="media loader-parent" >
            <div

              class="device-frame device-browser">

            <!-- <div class="media image" style="background-image: url(media/portfolio-freeth-4.png);"></div> -->
            <img src="static/images/portfolio/portfolio-freeth-4.png">


            </div>
            <svg class="loading-spinner" width="64" height="64" viewbox="0 0 64 64">
              <circle cx="32" cy="32" r="20" fill="none" stroke-width="6" stroke-miterlimit="10" stroke="#ccc" />
            </svg>
          </div>

          <div class="caption">
            <p>Messages page - This includes threads of conversation and activities like connection events in addition to text messages.</p>
          </div>

        </div>

        <div class="page   image" style="background-color: #c5cae9 ">
          <div class="media loader-parent" >
            <div

              class="device-frame device-browser">

            <!-- <div class="media image" style="background-image: url(media/portfolio-freeth-5.png);"></div> -->
            <img src="static/images/portfolio/portfolio-freeth-5.png">


            </div>
            <svg class="loading-spinner" width="64" height="64" viewbox="0 0 64 64">
              <circle cx="32" cy="32" r="20" fill="none" stroke-width="6" stroke-miterlimit="10" stroke="#ccc" />
            </svg>
          </div>

          <div class="caption">
            <p>Profile edit page</p>
          </div>

        </div>

        <div class="page   image" style="background-color: #bbdefb ">
          <div class="media loader-parent" >
            <div

              class="device-frame device-browser">

            <!-- <div class="media image" style="background-image: url(media/portfolio-freeth-6.png);"></div> -->
            <img src="static/images/portfolio/portfolio-freeth-6.png">


            </div>
            <svg class="loading-spinner" width="64" height="64" viewbox="0 0 64 64">
              <circle cx="32" cy="32" r="20" fill="none" stroke-width="6" stroke-miterlimit="10" stroke="#ccc" />
            </svg>
          </div>

          <div class="caption">
            <p>Search page - To search users based on names or city.</p>
          </div>

        </div>

      </div>
    </div>
  </section>

  <!-- Project 3 -->
  <section class="project tall">
    <div class="info">
      <h2>Magic Touch Event Planning Agency</h2>
      <p class="date">June 2016</p>
      <p>A simple static website to showcase an Event planning agency. The site was customized using HTML5 and jQuery along with some of its plugins.</p>

<p>All the content for the site was also written based on the details provided by the client, making sure that it was SEO friendly.</p>

    </div>
    <div class="pages">
      <div class="page-scroll">

        <div class="page   image" style="background-color: #c5cae9 ">
          <div class="media loader-parent" >
            <div

              class="device-frame device-browser">

            <!-- <div class="media image" style="background-image: url(media/portfolio-mtevent-1.png);"></div> -->
            <img src="static/images/portfolio/portfolio-mtevent-1.png">


            </div>
            <svg class="loading-spinner" width="64" height="64" viewbox="0 0 64 64">
              <circle cx="32" cy="32" r="20" fill="none" stroke-width="6" stroke-miterlimit="10" stroke="#ccc" />
            </svg>
          </div>

          <div class="caption">
            <p>A dynamic landing page</p>
          </div>

        </div>

        <div class="page   image" style="background-color: #e1bee7 ">
          <div class="media loader-parent" >
            <div

              class="device-frame device-browser">

            <!-- <div class="media image" style="background-image: url(media/portfolio-mtevent-2.png);"></div> -->
            <img src="static/images/portfolio/portfolio-mtevent-2.png">


            </div>
            <svg class="loading-spinner" width="64" height="64" viewbox="0 0 64 64">
              <circle cx="32" cy="32" r="20" fill="none" stroke-width="6" stroke-miterlimit="10" stroke="#ccc" />
            </svg>
          </div>

          <div class="caption">
            <p>The event categories were organized in a single scrollable page</p>
          </div>

        </div>

        <div class="page   image" style="background-color: #f48fb1 ">
          <div class="media loader-parent" >
            <div

              class="device-frame device-browser">

            <!-- <div class="media image" style="background-image: url(media/portfolio-mtevent-3.png);"></div> -->
            <img src="static/images/portfolio/portfolio-mtevent-3.png">


            </div>
            <svg class="loading-spinner" width="64" height="64" viewbox="0 0 64 64">
              <circle cx="32" cy="32" r="20" fill="none" stroke-width="6" stroke-miterlimit="10" stroke="#ccc" />
            </svg>
          </div>

          <div class="caption">
            <p>Standard SVG icons were used from Font Awesome</p>
          </div>

        </div>

        <div class="page   image" style="background-color: #ba68c8 ">
          <div class="media loader-parent" >
            <div

              class="device-frame device-browser">

            <!-- <div class="media image" style="background-image: url(media/portfolio-mtevent-4.png);"></div> -->
            <img src="static/images/portfolio/portfolio-mtevent-4.png">


            </div>
            <svg class="loading-spinner" width="64" height="64" viewbox="0 0 64 64">
              <circle cx="32" cy="32" r="20" fill="none" stroke-width="6" stroke-miterlimit="10" stroke="#ccc" />
            </svg>
          </div>

          <div class="caption">
            <p>Content creation was also done for all aspects of the project</p>
          </div>

        </div>

      </div>
    </div>
  </section>

  <!-- Project 4 -->
  <section class="project tall">
    <div class="info">
      <h2>Pestibase - A Pestiflu Repository</h2>
      <p class="date">June 2015</p>
      <p>PestiBase provides a platform where researchers working on Pestivirus can search and retrieve information on Pestivirus and perform in silico analysis online using a battery of tools.
      </p>

      <p>We contributed primarily with the layout and design as well as allowing a user to highlight a protein sequence and showing the user a list of tools as a small menu on the side.</p>

    </div>
    <div class="pages">
      <div class="page-scroll">

        <div class="page   image" style="background-color: #ba68c8 ">
          <div class="media loader-parent" >
            <div

              class="device-frame device-browser">

            <!-- <div class="media image" style="background-image: url(media/portfolio-mtevent-1.png);"></div> -->
            <img src="static/images/portfolio/portfolio-pestibase-1.png">


            </div>
            <svg class="loading-spinner" width="64" height="64" viewbox="0 0 64 64">
              <circle cx="32" cy="32" r="20" fill="none" stroke-width="6" stroke-miterlimit="10" stroke="#ccc" />
            </svg>
          </div>

          <div class="caption">
            <p>Landing Page</p>
          </div>

        </div>

        <div class="page   image" style="background-color: #e1bee7 ">
          <div class="media loader-parent" >
            <div

              class="device-frame device-browser">

            <!-- <div class="media image" style="background-image: url(media/portfolio-pestibase-2.png);"></div> -->
            <img src="static/images/portfolio/portfolio-pestibase-2.png">


            </div>
            <svg class="loading-spinner" width="64" height="64" viewbox="0 0 64 64">
              <circle cx="32" cy="32" r="20" fill="none" stroke-width="6" stroke-miterlimit="10" stroke="#ccc" />
            </svg>
          </div>

          <div class="caption">
            <p>List of entries categorized</p>
          </div>

        </div>

        <div class="page   image" style="background-color: #c2d6f2 ">
          <div class="media loader-parent" >
            <div

              class="device-frame device-browser">

            <!-- <div class="media image" style="background-image: url(media/portfolio-pestibase-3.png);"></div> -->
            <img src="static/images/portfolio/portfolio-pestibase-3.png">


            </div>
            <svg class="loading-spinner" width="64" height="64" viewbox="0 0 64 64">
              <circle cx="32" cy="32" r="20" fill="none" stroke-width="6" stroke-miterlimit="10" stroke="#ccc" />
            </svg>
          </div>

          <div class="caption">
            <p>Pestvirus details</p>
          </div>

        </div>

        <div class="page   image" style="background-color: #c5cae9 ">
          <div class="media loader-parent" >
            <div

              class="device-frame device-browser">

            <!-- <div class="media image" style="background-image: url(media/portfolio-pestibase-4.png);"></div> -->
            <img src="static/images/portfolio/portfolio-pestibase-4.png">


            </div>
            <svg class="loading-spinner" width="64" height="64" viewbox="0 0 64 64">
              <circle cx="32" cy="32" r="20" fill="none" stroke-width="6" stroke-miterlimit="10" stroke="#ccc" />
            </svg>
          </div>

          <div class="caption">
            <p>Tools menu displayed on highlight of protein sequence</p>
          </div>

        </div>

      </div>
    </div>
  </section>

   <!-- Project 5 -->
  <section class="project tall">
    <div class="info">
      <h2>Joule Foods - Millet Cookie Manufacturers</h2>
      <p class="date">Jan 2014</p>

<p>A website developed to showcase the business of a Millet Cookie Manufacturing company.
</p>

<p>All images and content was created as well with subtle animations</p>
      <!-- <div class="actions">

        <a href="http://www.freeth.in">Visit Site</a>

      </div> -->

    </div>
    <div class="pages">
      <div class="page-scroll">

        <div class="page   image" style="background-color: #ffe0b2 ">
          <div class="media loader-parent" >
            <div

              class="device-frame device-browser">

            <!-- <div class="media image" style="background-image: url(media/portfolio-freeth-1.png);"></div> -->
            <img src="static/images/portfolio/portfolio-jf-1.png">


            </div>
            <svg class="loading-spinner" width="64" height="64" viewbox="0 0 64 64">
              <circle cx="32" cy="32" r="20" fill="none" stroke-width="6" stroke-miterlimit="10" stroke="#ccc" />
            </svg>
          </div>

          <div class="caption">
            <p>Types of cookies with images photographed and edited for the site.</p>
          </div>

        </div>

        <div class="page   image" style="background-color: #b2dfdb ">
          <div class="media loader-parent" >
            <div

              class="device-frame device-browser">

            <!-- <div class="media image" style="background-image: url(media/portfolio-freeth-2.png);"></div> -->
            <img src="static/images/portfolio/portfolio-jf-2.png">


            </div>
            <svg class="loading-spinner" width="64" height="64" viewbox="0 0 64 64">
              <circle cx="32" cy="32" r="20" fill="none" stroke-width="6" stroke-miterlimit="10" stroke="#ccc" />
            </svg>
          </div>

          <div class="caption">
            <p>About Page describing the company, it's vision and mission.</p>
          </div>

        </div>

        <div class="page   image" style="background-color: #e1bee7 ">
          <div class="media loader-parent" >
            <div

              class="device-frame device-browser">

            <img src="static/images/portfolio/portfolio-jf-3.png">


            </div>
            <svg class="loading-spinner" width="64" height="64" viewbox="0 0 64 64">
              <circle cx="32" cy="32" r="20" fill="none" stroke-width="6" stroke-miterlimit="10" stroke="#ccc" />
            </svg>
          </div>

          <div class="caption">
            <p>Contact form in footer</p>
          </div>

        </div>


      </div>
    </div>
  </section>

  <!-- Project 6 -->
  <section class="project tall">
    <div class="info">
      <h2>Photoshop Works</h2>
      <!-- <p class="date">January 2017 - June 2017</p> -->
      <p>Posters, Banners and much more!</p>

      <!-- <div class="actions">

        <a href="http://www.zucumber.com">Visit Site</a>

      </div> -->

    </div>
    <div class="pages">
      <div class="page-scroll">

        <div class="page   image" style="background-color: #c2d6f2 ">
          <div class="media loader-parent"  style="color:#3c6caf">
            <div

              class="device-frame device-browser">

            <!-- <div class="media image" style="background-image: url(media/portfolio-zucumber-1.png);"></div> -->
            <img src="static/images/portfolio/poster-1.jpg">


            </div>
            <svg class="loading-spinner" width="64" height="64" viewbox="0 0 64 64">
              <circle cx="32" cy="32" r="20" fill="none" stroke-width="6" stroke-miterlimit="10" stroke="#ccc" />
            </svg>
          </div>

        </div>

        <div class="page   image" style="background-color: #bbdefb ">
          <div class="media loader-parent" >
            <div

              class="device-frame device-browser">

            <!-- <div class="media image" style="background-image: url(media/portfolio-zucumber-2.png);"></div> -->
            <img src="static/images/portfolio/banner-1.png">


            </div>
            <svg class="loading-spinner" width="64" height="64" viewbox="0 0 64 64">
              <circle cx="32" cy="32" r="20" fill="none" stroke-width="6" stroke-miterlimit="10" stroke="#ccc" />
            </svg>
          </div>

        <!--   <div class="caption">
            <p>Client details and Appointment Summaries</p>
          </div> -->

        </div>

        <div class="page   image" style="background-color: #ffe0b2 ">
          <div class="media loader-parent"  style="color:#fb8c00">
            <div

              class="device-frame device-browser">

            <!-- <div class="media image" style="background-image: url(media/portfolio-zucumber-3.png);"></div> -->
            <img src="static/images/portfolio/oo2ba-mockup.png">


            </div>
            <svg class="loading-spinner" width="64" height="64" viewbox="0 0 64 64">
              <circle cx="32" cy="32" r="20" fill="none" stroke-width="6" stroke-miterlimit="10" stroke="#ccc" />
            </svg>
          </div>

          <div class="caption">
            <p>Football fan website mockup</p>
          </div>

        </div>

      </div>
    </div>
  </section>


</main>

<footer id="contact">
        <div class="container">
                <div class="footer col-md-12">
                        &copy; Copyright Zephony 2017
                    </div>
        </div>
    </footer>


  <script>
        var d = new Date();
        var n = d.getFullYear();
        document.getElementById("current-year").innerHTML = n;
  </script>

  <script src="/static/js/libs/jquery-3.2.1.min.js"></script>
    <!-- Include all compiled plugins (below), or include individual files as needed -->
    <!-- Plugin JavaScript -->
    <script src="/static/js/bootstrap.min.js"></script>
    <script src="https://storage.googleapis.com/code.getmdl.io/1.0.4/material.min.js"></script>
  <script src="static/js/libs/hammerjs/hammer.min.js"></script>
  <script src="static/js/libs/fastclick/lib/fastclick.js"></script>
    <!-- Main JS file -->
    <script src="/static/js/portfolio.js"></script>


</body>
</html>
